<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zust.buy.order.mapper.OrderMapper">

    <select id="getOrderList" parameterType="java.util.Map" resultType="com.zust.buy.common.entity.Order">
        select o.*, wui.nick_name
        from t_order o
            left join t_wx_user_info wui on o.user_id = wui.open_id
        <where>
            o.deleted = 0
            <if test="orderNo != null and orderNo != ''">
                and o.order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="status != null and status != 0">
                and o.status = #{status}
            </if>
            <if test="dateValue != null and dateValue != ''">
                and o.delivery_date = #{dateValue}
            </if>
        </where>
        order by o.create_time desc
        <if test="start != null and pageSize != null and pageSize != 0">
            limit #{start}, #{pageSize}
        </if>
    </select>

    <select id="getTotal" parameterType="java.util.Map" resultType="int">
        select count(*)
        from t_order o
        <where>
            o.deleted = 0
            <if test="orderNo != null and orderNo != ''">
                and o.order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="status != null and status != 0">
                and o.status = #{status}
            </if>
            <if test="dateValue != null and dateValue != ''">
                and o.delivery_date = #{dateValue}
            </if>
        </where>
    </select>

    <update id="updateToPurchased" parameterType="string">
        update t_order o
        set o.status = '7'
        where o.status = '2' and delivery_date = #{deliveryDate}
    </update>

</mapper>
